/*  your css code here. If applicable */
body{
	background-color:#f5f5f5;
}
.header{
	background-color:#011e29;
	color:white;
	text-align:center;
	padding:10px;
}
.grid{
	display:grid;
	grid-template-columns:repeat(3,1fr);
	
	gap:5px;
}
.grid > div{
	background-color:white;
	border-radius:5px;
	margin:3px;
	display:flex;
	flex-direction:column;
	align-items:center;
	padding:5px;
	gap:3px;
}


img{
	width:100px;
}
.latest-news-section ul li{
	padding:5px;
	width:100%;
}